@media screen and (min-width: 600px) {
    .about_container,
    .skills_container,
    .portfolio_content,
    .project_container,
    .contact_container,
    .footer_container {
        grid-template-columns: repeat (2, 1fr);
    }
}
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav_menu {
        padding: 2rem .25rem 4rem;
    }
    .nav_list {
        column-gap: 0;
    }
    .home_content {
        grid-template-columns: .25fr 3fr;
    }
    .home_blob {
        width: 180px;
    }
    .skills_title {
        font-size: var(--normal-font-size);
    }
    .qualification_data {
        gap: .5rem;
    }
    .services_container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services_content {
        padding-right: 3.5rem;
    }
    .services_modal {
        padding: 0 .5rem;
    }
    .project_img {
        width: 200px;
    }
    .testimonial_data,
    .testimonial_header {
        flex-direction: column;
        align-items: center;
    }
    .testimonial_img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial_data,
    .testimonial_description {
        text-align: center;
    }
}